@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  gap: 1rem;
  padding: 0 2%;
}

* {
  padding: 0;
  margin: 0;
}

.header {
  text-align: center;
}

.slider {
  max-width: 50rem;
  height: 50vh;
  width: 80%;
  background-color: rgba(190, 192, 192, 0.22);
  position: relative;
}

.image-wrapper {
  height: 100%;
  width: 100%;
  transition: background 0.2s linear;
}
.image-wrapper img {
  height: 100%;
}

.btn-left,
.btn-right {
  position: absolute;
  border: none;
  background-color: rgba(70, 75, 73, 0.604);
  color: rgba(197, 195, 195, 0.638);
  cursor: pointer;
  height: 5rem;
  width: 5rem;
  font-size: 3rem;
  border-radius: 50%;
}

.btn-left {
  top: 50%;
  left: 0.5%;
  transform: translateY(-50%);
}

.btn-right {
  top: 50%;
  right: 0.5%;
  transform: translateY(-50%);
}

.btn-left:hover,
.btn-right:hover {
  background-color: rgb(109, 115, 112);
}

.all-images {
  display: flex;
  align-items: center;
  height: 30vh;
  width: 100%;
  overflow: hidden;
}
.all-images img {
  display: block;
  height: 100%;
  cursor: pointer;
}
.all-images .image {
  width: 20rem;
  height: 100%;
  transition: transform 0.1s;
  overflow: hidden;
  object-position: bottom;
}

.active {
  transform: scale(1.25);
}
@media (max-width: 800px) {
  html {
    font-size: 14px;
  }
  .btn-left,
  .btn-right {
    height: 3rem;
    width: 3rem;
    font-size: 2rem;
  }
}
